body {
	font-family: "Courier New", Courier, monospace;
	background-color: #444;
}

img {
	width: 100px;
	height: 100px;
	text-align: center;
}

.title {
	font-size: 36px;
	font-weight: 900;
	display: flex;
	justify-content: space-around;
}

.container {
	display: flex;
	justify-content: center;
}

.plant {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	text-align: center;
	margin: 32px 26px;
	max-width: 200px;
}

.footer {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	height: 52px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.footer a {
	color: #777;
}
